#Introduction .IntrInfo {
  padding: 2em 0;
  background-color: white;
}
#Introduction .IntrInfo h6 {
  color: #638c1c;
  font-weight: 600;
  font-size: 1.1em;
}
#Introduction .IntrInfo h2 {
  color: #000000;
  font-weight: 700;
  margin-top: 1em;
}

#Introduction .IntrMoreInformation {
  margin: 1em 0;
}
#Introduction .IntrMoreInformation .IntrItem {
  display: flex;
  flex-direction: column;
}
#Introduction .IntrMoreInformation .IntrItem > div {
  padding: 0 1em;
}

#Introduction .IntrMoreInformation .IntrItem div:nth-child(1) h6 {
  font-weight: bold;
}

#Introduction .IntrMoreInformation .IntrItem div:nth-child(2) {
  background-color: white;
}

#Introduction .ProgrammFormation {
  background-color: white;
}
#Introduction .ProgrammFormation > h1 {
  font-size: 2.5em;
  color: black;
  font-weight: bold;
}
#Introduction .ProgrammFormation .FormationInfo ul {
  list-style: none;
}
#Introduction .ProgrammFormation .FormationInfo > ul > li > h6 {
  color: black;
  font-weight: bold;
}

@media (width>768px) {
  #Introduction .IntrMoreInformation .IntrItem {
    display: flex;
    flex-direction: row;
  }
}
